<div class="container-fluid ">
  <div class="row ">
    <div class="col-md-12 text-center">
      <input #file (change)="fileUpload($event)" accept="image/*"
             hidden id="filedatag1" type="file">
      <button type="button" class="btn btn-outline-success btn-img " (click)="file.click()" > Agregar imagen</button>
      <button type="button" class="btn btn-outline-danger btn-img" (click)="showImagen= false" *ngIf="showImagen">Eliminar imagen</button> <br><br>
    </div>
  </div>
  <ng-container *ngIf="showImagen">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 text-center">
        <h3>Datos iniciales </h3>
      </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 3em">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <label>Ancho Inicial</label>
        <p> {{widthInc}} px</p>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <label>Alto inicial</label>
        <p> {{heightInc}} px</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 text-center">
        <hr>
        <h3> Datos de salida </h3>
      </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 3em">
      <div class="col-md-3 col-sm-3 col-lg-3">
        <label>Orientación de la hoja</label>
        <p> {{position}}</p>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <label>Ancho</label>
        <p> {{width}} px</p>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <label>Alto</label>
        <p> {{height}} px</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 text-center">
        <hr>
        <img (click)="file.click()" *ngIf="imagen &&imagen.url"
             [src]="imagen.url"  class="img-thumbnail imagen-test">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!showImagen">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 text-center">
        <h6> Para cargar y ver el los resultados calculados, haga click en el botón "Agregar imagen" y selecciones la imagen con formato PNG</h6>
      </div>
    </div>
  </ng-container>

</div>
